/* BUZZ PANELS GLOBAL CSS v0.2 */

@import "compass";
@import "compass/css3";
@import "compass/utilities";




$orange: #f6921e;
$orange_hover: #f9a94c;
$teel: #4dc5b2;
$dark: #404040;
$green_positive:#7bdb46;
$red_negative:#d45855;





/* --------------------------------------- */
/* BOOTSTRAP GENERIC ELEMENTS:  */
/* --------------------------------------- */


html, body {
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
}

a {
    color: $orange;
}
a:hover {
    color: $orange_hover;
}






/* --------------------------------------- */
/* BOOTSTRAP BUTTONS:  */
/* --------------------------------------- */

.btn {
    border: 0 none;
    font-size:14px;
    font-weight:300;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: $orange;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: $orange_hover;
}
 
.btn-primary:active, .btn-primary.active {
    background: $orange;
    box-shadow: none;
}



/* --------------------------------------- */
/* NAVBAR:  */
/* --------------------------------------- */

.navbar {
    font-size:14px;
}



/* --------------------------------------- */
/* DROPDOWN ITEM  */
/* --------------------------------------- */

.dropdown-menu {
    font-size:14px;
}

.dropdown-item {
    font-weight:300;    
}
