/* BUZZ PANELS GLOBAL CSS v0.2 */

@import "compass";
@import "compass/css3";
@import "compass/utilities";

//color palette
$primarycolor: #21c6ca;
$primarycolor_hover: #5adcdf;

$secondarycolor1: #2f3e79;
$secondarycolor1_hover: #5364a5;

$secondarycolor2: #ffffff;
$secondarycolor2_hover: #ffffff;

$dark: #404040;





/* --------------------------------------- */
/* BOOTSTRAP GENERIC ELEMENTS:  */
/* --------------------------------------- */


html, body {
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    overflow-x: hidden;
}

a {
    color: $primarycolor;
}
a:hover {
    color: $primarycolor_hover;
}

input {
    border:0 !important;
    box-shadow: none;
    background:#eee !important;
}

label.error{
    font-size:14px;
    font-weight:300;
    color:red;
}




/* --------------------------------------- */
/* BOOTSTRAP BUTTONS:  */
/* --------------------------------------- */

.btn {
    border: 0 none;
    font-size:20px;
    font-weight:300;
    text-transform:uppercase;
    font-weight:400;
    @include border-radius(10px);
}

.btn-sm {
    font-size:14px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none !important;
    box-shadow: none;
}

.btn-primary {
    background: $secondarycolor1;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: $secondarycolor1;
    color:$primarycolor;
    outline: none !important;
    box-shadow: none;
}
 
.btn-primary:active, .btn-primary.active {
    background: $secondarycolor1;
    box-shadow: none;
}


.btn-secondary {
    background: $primarycolor;
    color: $secondarycolor1;
}
 
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open > .dropdown-toggle.btn-secondary {
    background: $primarycolor_hover;
}
 
.btn-secondary:active, .btn-secondary.active {
    background: $primarycolor;
    box-shadow: none;
}

.modal-header{
    background:$primarycolor;
    color: white;
}
.modal-body{
    overflow:hidden;

    img.watermark{
        position:absolute;
        top:0;
        left:0;
        opacity:0.1;
        width:100%;
    }

    img.tinyicon{
        float:left;
        margin:0 20px 0 0;
        display:block;
        //opacity:0.1;
        width:100px;
    }
}

.bootbox-body{
    padding:3% !important;
}


/* --------------------------------------- */
/* NAVBAR:  */
/* --------------------------------------- */

.navbar {
    font-size:18px;
    font-weight:300;
    background:$primarycolor !important;
}

.nav-link{
    color:$secondarycolor1 !important;
}
.nav-link:hover{
    color:white !important;
}


/* --------------------------------------- */
/* DROPDOWN ITEM  */
/* --------------------------------------- */

.dropdown-menu {
    font-size:14px;
}

.dropdown-item {
    font-weight:300;    
}






















/* --------------------------------------- */
/* CONTENT  */
/* --------------------------------------- */

.section-title{
    font-size:25px;
}

//Banner
//---------------------------------------
.banner {
    padding-top:100px;
    padding-bottom:20px;
    color:$primarycolor;
    height:auto;
    @include background-size(cover);

}

.banner-inner-container{
    width:70%;
    //height:300px;
}

.banner_text_animation{
    font-size:23px;
    line-height:150%;
    height:190px;
    //background: green;
    margin-top:30px;

    .weusedatato{
        color: $secondarycolor1;
        font-size:45px;
        font-weight:400;
        margin-bottom:10px;
    }

    .copy {
        font-weight:400;
    }

    .blinking_cursor{
        display:inline-block;
        width:5px;
        height:32px;
        background:$secondarycolor1;
        animation: blink-animation 0.5s steps(5, start) infinite;
        -webkit-animation: blink-animation 0.5s steps(5, start) infinite;
    }

}


@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}




//Tagline
//---------------------------------------
.tagline {
    background:$secondarycolor1;
    padding: 30px 50px;
    font-size:23px;
    color:white;
    font-weight:300;
    
    .white{
        color:white;
    }
}



//Story & Advantage
//---------------------------------------
.story_advantage {

    .copy{
        padding-top:300px;
        font-weight:bold;
        font-size:25px;
    }
    
    .story{
        height:400px;
    }

    .advantage{
        height:400px;
    }

    button{
        margin-top:300px !important;
    }
    

}

.dynamic-copy{
    color:$secondarycolor1;
}




//AI Watson
//---------------------------------------
.ai_watson {
    //background:green;
    height:280px;
    color:$primarycolor;
    overflow:hidden;
    color:white;

    video {
        position: absolute;
        top: -180px;
        left: 0;
        width: 100%;
        //z-index:-100;
    }

    .video-text-over{
        font-size:30px;
        font-weight:300;
        height:inherit;
        position:absolute;
        z-index:999;
        width:100%;
        left:0;
        //background:orange;
        margin-top:7%;

        span{
            //background:rgba(255,255,255,0.5);
            //color:$secondarycolor1;
            //padding:0 15px;
            //@include border-radius(10px);
        }
    }

    .poweredbywatson{
        font-style: italic;
        font-size:18px;
        font-weight:300;
    }
}



//Services
//---------------------------------------
.services {
    padding:40px 0;
    background:$secondarycolor1;
    color:white;

    .services-inner-container{
        //position:absolute;
    }

    .icon-text{
        cursor:pointer;
        //background:orange;

        img{
            //width:50% !important;
        }
        iframe{
            width:128px;
            height:128px;
            cursor:pointer !important;
            //background:orange;
        }
        svg{
            cursor:pointer !important;
        }
        h6{
            margin-top:10px !important;
            //background:orange;
        }
    }
    .icon-text::after{
        content:"";
        width:128px;
        height:128px;
        background:transparent;
        position:absolute;
        top:0;
        left:78px;
    }

    .icon-text:hover{
        img{
            fill: red;
        }
    }
}




//Clients
//---------------------------------------
.clients {
    padding:40px 0;
    background:$primarycolor;
    
    img{
        opacity:0.8;
    }    
}




//Contact
//---------------------------------------
.contact {
    padding:40px 0;
    background:white;
    color:$secondarycolor1;

    label{
        font-weight:bold;
    }
    label.error{
        font-weight:300;
    }

}






//Footer
//---------------------------------------
footer{
    font-size:12px;
    background:$secondarycolor1;
    color:white;
    padding:20px 0 5px 0;

    .social-icons{

    }

    .buzzlogo{
        position:absolute;
        top:-2px;
        right:100px;

        img{
            height:23px;
        }
    }
}




























/* --------------------------------------- */
/* MEDIA QUERIES  */
/* --------------------------------------- */

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .services {

        .services-inner-container{
            width:90%;
        }

        .icon-text{
            h6{
                margin-top:10px !important;
                font-size:18px;
            }
        }
    }


    .banner{
        padding-top:70px;
        padding-bottom:30px;

        img{
            width:40%;
        }
    }

    .banner-inner-container{
        width:90%;
    }

    .banner_text_animation{
        height:210px;
        font-size:23px;
        margin-top:5px;

        .weusedatato{
            font-size:28px;
        }
        .copy {
            font-size:25px;
            font-weight:400;
        }
    }

    .dynamic-copy{
        text-align: center;
        padding:0 30px;
    }

    .ai_watson {
        height:200px;
        font-size:20px;

        video {
            top: -10px;
            width: 100%;
        }

        .video-text-over{
            font-size:18px;
            font-weight:300;
            margin-top:15%;
        }

        .poweredbywatson{
            font-size:14px;
        }

    }
    .clients{
        img{
            margin-bottom:15px;
        }
    }
    .contact{
        width:90%;
    }
}















/* Large screens ----------- */
@media only screen and (min-width : 1824px) {

    .video-text-over{
        //background:orange;
        margin-top:5% !important;
    }

}
