/* BUZZ PANELS GLOBAL CSS v0.2 */

@import "compass";
@import "compass/css3";
@import "compass/utilities";

//color palette
$primarycolor: #21c6ca;
$primarycolor_hover: #5adcdf;

$secondarycolor1: #2f3e79;
$secondarycolor1_hover: #5364a5;

$secondarycolor2: #ffffff;
$secondarycolor2_hover: #ffffff;

$dark: #404040;





/* --------------------------------------- */
/* BOOTSTRAP GENERIC ELEMENTS:  */
/* --------------------------------------- */


html, body {
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
}

a {
    color: $primarycolor;
}
a:hover {
    color: $primarycolor_hover;
}






/* --------------------------------------- */
/* BOOTSTRAP BUTTONS:  */
/* --------------------------------------- */

.btn {
    border: 0 none;
    font-size:16px;
    font-weight:300;
    text-transform:uppercase;
    font-weight:400;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: $secondarycolor1;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: $secondarycolor1_hover;
}
 
.btn-primary:active, .btn-primary.active {
    background: $secondarycolor1;
    box-shadow: none;
}


.btn-secondary {
    background: $primarycolor;
    color: #ffffff;
}
 
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open > .dropdown-toggle.btn-secondary {
    background: $primarycolor_hover;
}
 
.btn-secondary:active, .btn-secondary.active {
    background: $primarycolor;
    box-shadow: none;
}



/* --------------------------------------- */
/* NAVBAR:  */
/* --------------------------------------- */

.navbar {
    font-size:18px;
    font-weight:bold;
    background:$primarycolor !important;
}

.nav-link{
    color:$secondarycolor1 !important;
}
.nav-link:hover{
    color:$secondarycolor1_hover !important;
}


/* --------------------------------------- */
/* DROPDOWN ITEM  */
/* --------------------------------------- */

.dropdown-menu {
    font-size:14px;
}

.dropdown-item {
    font-weight:300;    
}






















/* --------------------------------------- */
/* CONTENT  */
/* --------------------------------------- */



//Banner
//---------------------------------------
.banner {
    background:white;
    padding-top:100px;
    padding-bottom:20px;
    color:$primarycolor;
    height:auto;
}

.banner_text_animation{
    font-size:35px;

    .weusedatato{
        color: $secondarycolor1;
        font-size:45px;
        font-weight:bold;
    }

    .copy {
        font-weight:400;
    }

    .blinking_cursor{
        display:inline-block;
        width:40;
        height:50;
        background:$secondarycolor1;
        animation: blink-animation 0.5s steps(5, start) infinite;
        -webkit-animation: blink-animation 0.5s steps(5, start) infinite;
    }

}


@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}




//Tagline
//---------------------------------------
.tagline {
    background:$secondarycolor1;
    padding-top:30px;
    padding-bottom:30px;
    font-size:30px;
    color:$primarycolor;
    font-weight:400;
    text-transform:uppercase;

    .white{
        color:white;
    }
}



//Story & Advantage
//---------------------------------------
.story_advantage {
    height:400px;

    .copy{
        padding-top:300px;
        font-weight:bold;
        font-size:25px;
    }
    
    .story{
        @include background(image-url("../dist/images/story.jpg"));
        height:400px;
        background-size: cover;

        .copy{
            color:white;
        }
    }

    .advantage{
        @include background(image-url("../dist/images/advantage.jpg"));
        height:400px;
        background-size: cover;

        .copy{
            color: $secondarycolor1;
        }
    }


    
}




//AI Watson
//---------------------------------------
.ai_watson {
    //background:green;
    height:350px;
    font-size:30px;
    color:$primarycolor;
    font-weight:400;
    overflow:hidden;
    color:white;

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        //z-index:-100;
    }

    .video-text-over{
        font-weight:300;
        height:inherit;
        position:absolute;
        z-index:999;
        width:100%;
        left:0;
        //background:orange;
        margin-top:10%;
    }

    .poweredbywatson{
        font-style: italic;
        font-size:15px;
    }
}

