/* BUZZ PANELS GLOBAL CSS v0.2 */
/* --------------------------------------- */
/* DEVELOPER NOTE: Important DO NOT DELETE */
/* Default styles from Famo.us */
/* --------------------------------------- */
html, body {
  color: #0000;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 110px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  overflow-x: hidden;
}

.amcharts-chart-div a {
  display: none !important;
}

.logo_corner {
  position: absolute;
  top: 1000px;
  left: 1610px;
}

.report_title {
  color: white;
  text-transform: uppercase;
  font-size: 130px;
  top: 350px;
  left: 200px;
  position: absolute;
}
.report_title .tagline {
  color: #404040;
  font-size: 60px;
}
.report_title small {
  font-size: 70px;
}

.slide {
  position: absolute;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}
.slide.bg_orange {
  background: #f6921e;
}
.slide.bg_dark {
  background: #404040;
}
.slide .content {
  background: rgba(250, 250, 0, 0.5);
  width: inherit;
  position: absolute;
  top: 230px;
  color: #404040;
  font-size: 30px;
}

button:focus {
  outline: 0;
}

textarea:focus {
  outline: 0;
}

.header {
  font-weight: bold;
}
.header .top {
  position: absolute;
}
.header .top .main {
  color: white;
  font-size: 40px;
  padding: 13 0 0 30;
  text-transform: uppercase;
}
.header .top .secondary {
  color: #f6921e;
  font-size: 30px;
  padding: 0 0 0 30;
  font-weight: 400;
  text-transform: uppercase;
}
.header .left_generic, .header.left_white .left, .header.left_orange .left, .header.center_orange .left, .header.center_white .left {
  position: absolute;
  top: 153px;
  color: #404040;
  font-size: 35px;
  padding: 0 0 0 30;
  text-transform: uppercase;
}
.header .right_generic, .header.left_white .right, .header.left_orange .right, .header.center_orange .right, .header.center_white .right {
  position: absolute;
  top: 153px;
  left: 800px;
  color: white;
  font-size: 35px;
  padding: 0 0 0 0;
}
.header.left_orange .left {
  color: white;
}
.header.left_orange .right {
  color: #404040;
}
.header.center_orange .left {
  color: white;
}
.header.center_orange .right {
  color: #404040;
  left: 1100px;
}
.header.center_white .left {
  color: #404040;
}
.header.center_white .right {
  left: 1100px;
  color: white;
}

.avatar {
  position: absolute;
  top: 100px;
  left: 65px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  background-position: center;
  background-size: contain;
  border: 5px #f6921e solid;
}
.avatar.big {
  width: 400px;
  height: 400px;
}

.text {
  position: absolute;
  width: 1000px;
  font-size: 25px;
  overflow-wrap: break-word;
}
.text.light {
  color: white;
}

.editable {
  padding: 20px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  overflow-wrap: break-word;
  cursor: pointer;
}

.btn {
  padding: 5px 10px;
  background-color: #999;
  border-color: #999;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: white;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  display: inline;
  margin: 10 5 5 0;
}
.btn.btn-edit {
  background-color: #3598dc;
  border-color: #3598dc;
}
.btn.btn-done {
  background-color: #50ba8f;
  border-color: #50ba8f;
  display: none;
}
.btn.btn-cancel {
  display: none;
}

textarea {
  font-size: inherit;
  padding: 15px;
  border: 4px dashed #3598dc;
}

.title1 {
  position: absolute;
  color: #f6921e;
  font-weight: bold;
  font-size: 60px;
}

.potential_reach_stats {
  position: absolute;
  color: white;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: bold;
}
.potential_reach_stats label {
  display: block;
  color: #f6921e;
  font-size: 50px;
}
.potential_reach_stats span {
  display: block;
}
.potential_reach_stats.positive label {
  color: #7bdb46;
}
.potential_reach_stats.negative label {
  color: #d45855;
}

.thankyou {
  text-align: center;
  width: 1920;
  top: 0;
  position: absolute;
  color: white;
  margin-top: 730;
}
.thankyou span {
  color: #f6921e;
}
.thankyou a {
  text-align: center;
  width: 1920;
  top: 50;
  position: absolute;
  display: block;
}

.buzzradar_link {
  text-align: center;
  display: block;
  color: white;
  margin-top: 130;
  font-size: 50px;
  text-decoration: underline;
}
.buzzradar_link span {
  color: #f6921e;
}

.graph_wrap {
  position: absolute;
  width: 920px;
  height: 750px;
  color: white;
}

.sentiment_conversation_graph_outcome {
  width: 395px;
  height: 395px;
  background: #4dc5b2;
  position: absolute;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 35px;
}
.sentiment_conversation_graph_outcome label {
  margin-top: 120px;
  display: block;
}
.sentiment_conversation_graph_outcome span {
  display: block;
  font-size: 100px;
  font-weight: bold;
}

.tweet {
  position: absolute;
  width: 800px;
  height: 250px;
  background: #4dc5b2;
}
.tweet.scale_down_10 {
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  transform-origin: 0 0;
}
.tweet .twitter_bird {
  position: absolute;
  top: 10px;
  left: 750px;
}
.tweet.positive {
  background: #7bdb46;
  color: white;
}
.tweet.positive:before {
  border-color: #7bdb46 transparent transparent transparent;
}
.tweet.negative {
  background: #d45855;
  color: white;
}
.tweet.negative:before {
  border-color: #d45855 transparent transparent transparent;
}
.tweet .avatar {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  top: 18px;
  left: 18px;
  width: 80px;
  height: 80px;
  background: grey;
  background-position: center;
  background-size: contain;
  border: 0px;
}
.tweet .handle {
  position: absolute;
  top: 18px;
  left: 110px;
  width: 620px;
  font-weight: bold;
  font-size: 25px;
}
.tweet .copy {
  position: absolute;
  top: 60px;
  left: 110px;
  width: 620px;
  font-size: 20px;
}
.tweet .date {
  position: absolute;
  top: 200px;
  left: 110px;
  width: 620px;
  font-size: 20px;
}
.tweet label {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 50px;
  top: -80px;
}

.tweet:before {
  position: absolute;
  top: 250px;
  left: 50px;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 30px;
  border-color: #4dc5b2 transparent transparent transparent;
}

.retweet {
  position: absolute;
  width: 521px;
  height: 670px;
  background: #4dc5b2;
}
.retweet.scale_down_10 {
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  transform-origin: 0 0;
}
.retweet .twitter_bird {
  position: absolute;
  top: 20px;
  left: 470px;
}
.retweet.positive {
  background: #7bdb46;
  color: white;
}
.retweet.positive:before {
  border-color: #7bdb46 transparent transparent transparent;
}
.retweet.negative {
  background: #d45855;
  color: white;
}
.retweet.negative:before {
  border-color: #d45855 transparent transparent transparent;
}
.retweet .avatar {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  top: 18px;
  left: 18px;
  width: 80px;
  height: 80px;
  background: grey;
  background-position: center;
  background-size: contain;
  border: 0px;
}
.retweet .handle {
  position: absolute;
  top: 20px;
  left: 110px;
  width: 350px;
  font-weight: bold;
  font-size: 25px;
}
.retweet .copy {
  position: absolute;
  top: 110px;
  left: 20px;
  width: 480px;
  font-size: 20px;
}
.retweet .img_content {
  position: absolute;
  top: 260px;
  left: 20px;
  width: 480px;
  height: 320px;
}
.retweet .date {
  position: absolute;
  top: 590px;
  left: 20px;
  width: 480px;
  font-size: 20px;
}
.retweet label {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 50px;
  top: -80px;
}

.retweet:before {
  position: absolute;
  top: 670px;
  left: 50px;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 30px;
  border-color: #4dc5b2 transparent transparent transparent;
}

.influencer {
  position: absolute;
  width: 550px;
  height: 180px;
  font-size: 25px;
}
.influencer .avatar {
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  background-position: center;
  background-size: contain;
  border: 5px #f6921e solid;
  width: 160px;
  height: 160px;
}
.influencer .name {
  position: absolute;
  top: 25px;
  left: 190px;
  font-weight: bold;
  color: #f6921e;
}
.influencer .job {
  position: absolute;
  top: 65px;
  left: 190px;
  font-weight: bold;
}
.influencer .followers {
  position: absolute;
  top: 105px;
  left: 190px;
}

.slide_4_followers, .slide_4_community {
  position: absolute;
  width: 310;
  height: 207;
  color: white;
}
.slide_4_followers label, .slide_4_community label {
  text-transform: uppercase;
  border-bottom: 3px solid white;
  display: block;
}
.slide_4_followers .follower, .slide_4_community .follower {
  margin-top: 25px;
}
.slide_4_followers .follower .square, .slide_4_community .follower .square {
  width: 50;
  height: 50;
  background: white;
  float: left;
}
.slide_4_followers .follower .square.teel, .slide_4_community .follower .square.teel {
  background: #4dc5b2;
}
.slide_4_followers .follower span, .slide_4_community .follower span {
  margin-left: 10px;
  font-weight: bold;
}

.slide_4_audience_engagement {
  position: absolute;
  width: 450;
  height: 207;
  color: white;
}
.slide_4_audience_engagement label {
  text-transform: uppercase;
  border-bottom: 3px solid white;
  display: block;
}
.slide_4_audience_engagement .percentage {
  margin-top: 25px;
  background: #ccc;
  width: 200;
  height: 50;
}
.slide_4_audience_engagement .percentage .bar_percentage {
  height: 50;
  background: white;
  position: absolute;
}
.slide_4_audience_engagement .percentage .bar_percentage.teel {
  background: #4dc5b2;
}
.slide_4_audience_engagement .percentage span {
  position: absolute;
  left: 210px;
  font-weight: bold;
}

.slide_4_community {
  width: 780;
  height: 400;
}
.slide_4_community .graph {
  position: absolute;
  width: 530px;
  height: 320;
}

.stats {
  position: absolute;
  width: 200px;
  height: 100px;
  text-align: left;
}
.stats label {
  border-bottom: 0px;
}
.stats label.positive {
  color: #7bdb46;
}
.stats label.negative {
  color: #d45855;
}
.stats.txt-align-right {
  text-align: right;
}

.slide7_graph_note {
  position: absolute;
  width: 550;
  height: 200;
  font-size: 20px;
}
.slide7_graph_note label {
  font-size: 30px;
  font-weight: bold;
  display: block;
}
.slide7_graph_note.right {
  text-align: right;
}
.slide7_graph_note.left {
  text-align: left;
}

@media print {
  .amcharts-bg, .amcharts-plot-area, .amcharts-legend-bg {
    display: none;
  }
}
